.sections_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: #3a334f;
    z-index: 999;
  }
  
  .sections_nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sections_nav_item {
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    color: var(--color-secondary2);
    transition: all 0.2s ease;
  }
  
  .sections_nav_item_active {
    background-color: var(--color-secondary2);
    color: var(--color-primary2);
  }
  
  @media (min-width: 801px) {
    .sections_nav {
      position: fixed;
      top: calc(50% - 150px);
      right: 15px;
      bottom: unset;
      left: unset;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 15px 10px;
      border-radius: 200px;
      background: #3a334f;
      z-index: 999;
    }
  
    .sections_nav ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .sections_nav_item {
      width: 60px;
      height: 60px;
    }
  }
  