/* Login.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .section_contact__content {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* ToastContainer styles (you might want to customize this further) */
  .Toastify__toast-container {
    width: 300px;
  }
  
  .Toastify__toast {
    margin-top: 10px;
    border-radius: 5px;
  }
  