@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");

:root {
  --color-primary: rgba(222, 190, 190, 1);
  --color-primary2: #150050;
  --color-bg: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary2) 100%
  );
  --color-secondary: #5fbaff;
  --color-secondary2: #B2B2C2;

  --color-text-dark: #25252e;

  --header-size: 70px;

  --landing-safe-left: clamp(0.313rem, 2.5vw - 1rem, 1.125rem);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  color: var(--color-secondary2);
}

.app,
.app-main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app-main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--color-bg);
  z-index: -1;
}

.btn {
  background: linear-gradient(98.58deg, #5fbaff 0%, #f5f5f5 100%);
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-primary2);
  border: none;
  height: 44px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  margin: 0;
  transition: all 100ms linear;
  text-decoration: none;
  padding: 5px 50px;
}

.btn:hover {
  background: linear-gradient(98.58deg, #f5f5f5 0%, #5fbaff 100%);
}

.submit-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 40px;
  border-radius: 13px;
  background: var(--color-bg);
  color: var(--color-secondary2);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--color-primary2);
  cursor: pointer;
  z-index: 2;
}

.submit-btn.escape {
  left: unset;
  right: 0;
}